body{
    margin: 5px;
}
header{
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    gap: 5px;
}
header h2{
    background-color: rgb(235, 214, 26);
    padding: 0px;
    margin: 0;
}
header nav ul{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 5px;
    overflow: hidden;
}
header nav li{
    list-style: none;
    padding: 40px 2px;
    background-color: pink;
}
main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.grid_container{
    display: grid;
    gap: 5px;
}
.post_title{
    margin: 0;
    margin-top: 5px;
    background-color: lightblue;
    padding: 30px 600px; 
}
.a{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}
.post_meta{
    margin: 0;
    padding: 0;
    background-color:lightgreen;
    height: 600px;
    
}
.main_content{
    margin: 0;
    background-color: lightgray;
    height: 150px;
}
.main_content_image{
    margin-top: 5px;
    background-color: yellow;
    height: 450px;
}
.side_bar{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto;
    background-color: sandybrown;
    height: 220px;
}
.ads{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto;
    background-color: green;
    height: 220px;
}
.other_stuff{
    margin-top: 5px;
    display: grid;
    grid-template-columns: auto;
    background-color: violet;
    height: 220px;
}
footer{
    margin-top: 5px;
    display: grid;
    background-color: gray;


}